body {
    max-width: 37.5rem;
    margin: 0 auto;
    padding: 0 1.25rem;
}

* {
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 0;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
}

* {
    -ms-overflow-style: none;
}

ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.carousel {
    position: relative;
    padding-top: 75%;
    perspective: 100px;
}

.carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    padding-bottom: 3rem;
}

.carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    background-image: url("assets/img/mem1.jpg");
    background-size: cover;
    border-radius: 5px;
}

.carousel__navigation {
    position: absolute;
    right: 0;
    bottom: -5px;
    text-align: right;
    background-color: #25282a;
    height: 4rem;
    width: 40%;

}

.carousel__navigation-list,
.carousel__navigation-item {
    display: inline-block;
}
.carousel__navigation-item:target{
    background-color: #f69d50;

}

.carousel__navigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #71abff;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
}

.carousel__navigation-button:hover{
    background-color: #ffffff;
}
.carousel__navigation-button:active > input{

}

.carousel__text {
    position: absolute;
    bottom: -3rem;
    width: 50%;
    color: #ffffff;
    font-size: 1rem;
    overflow: hidden;
}

#carousel__slide2 .carousel__text, #carousel__slide4 .carousel__text {
    bottom: -2rem;
}

.wrapper {
    background-color: #25282a;
    padding: 1rem;
}

@media (max-width: 600px) {
    html{
        font-size: 10px;
    }
    .carousel__text{
        bottom: -4rem !important;
        width: 100%;
    }
    .carousel__navigation{
        height: 1.5rem;
        bottom: 40px;
        width: 100%;
        text-align: center;
    }
    .carousel__viewport{
        padding-bottom: 4rem;
    }

}