body {
    max-width: 37.5rem;
    margin: 0 auto;
    padding: 0 1.25rem;
}

* {
    box-sizing: border-box;
}

ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.carousel {
    position: relative;
    padding-top: 75%;
    perspective: 100px;
}

.carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
}

.carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    background-image: url("assets/img/mem1.jpg");
    background-size: cover;
}
.carousel__navigation {
    position: absolute;
    right: 0;
    bottom: -40px;
    text-align: right;
    background-color: #fff;
}

.carousel__navigation-list,
.carousel__navigation-item {
    display: inline-block;
}

.carousel__navigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #71abff;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
}
